@model PortfolioApi.Models.Picture

@{
    ViewData["Title"] = "Details";
    Layout = "PictureController";
}

<h1>Details</h1>

<div>
    <h4>Picture</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.picture)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.picture)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.picture_id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
